/***********************

DRY

***********************/
.brand-bg-pri{
    background: #001c3d;
}
.brand-txt-pri{
    background: #001c3d;
}
.brand-bg-sec{
    color: #005d7a;
}
.brand-txt-sec{
    color: #005d7a;
}
/***********************

Navigation

***********************/
.navbar{
    position: fixed;
    display: block;
    width: 100%;
    padding: 1rem 0;
    -webkit-transition: 0.25s all 0s;
    transition: 0.25s all 0s;
    border-radius: 0 !important;
    z-index: 1000; 
    border: none;
    min-height: 
}
.navbar-nav li a{
    color: #fff;
}
.navbar-nav li a:hover{
    background-color: transparent;
}
/***********************

Top Section - Carousel

***********************/

/***********************

Jumbotron

***********************/
.jumbotron{
    background: #fff;
    padding-top: 3rem;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 5px 10px;
    background-color: #fff;
    font-size: 1.2rem;
    border: none;
}
/***********************

Products

***********************/
.offerings{
    margin-top: 4rem;
    width: 95%;
    margin-left: auto; 
    margin-right: auto; 
}

/***********************

clients

***********************/
.clients{
    background: #f3f3f3;
}
.client-image{
    opacity: 0;
    transform: translate(0, 5px); 
} 
.fade-in-up{
    transition: .1s ease-in;
    transform: translate(0, -15px);
}
/***********************

Responsive layout

***********************/
@media screen and (max-width: 542px){
    .offerings-item:not(:first-child){
        margin-top: 1.8rem;
    }
}
@media screen and (min-width: 543px) and (max-width: 990px){
    .offerings-item:nth-child(n+3){
        margin-top: 1.8rem;
    }
}
